@model Real_Estate.Models.PropertyTypes

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>PropertyTypes</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <h3 class="whiteText">Edit Property Type</h3>

            <label for="username" class="whiteText">Name</label>
            <input asp-for="Name" id="form3Example3cg" class="form-control form-control-lg" placeholder="Email" />
            <span asp-validation-for="Name" class="whiteText"></span>
            <label for="password" class="whiteText">Description</label>
            <input asp-for="Description" id="form3Example4cg" class="form-control form-control-lg" placeholder="Password" />
            <span asp-validation-for="Description" class="whiteText"></span>
            <div class="buttonDiv">
                <button class="whiteText">Save</button>
            </div>
            <div class="buttonDiv">
                <a asp-action="Index" class="whiteText">Back to List</a>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
