@model Real_Estate.Models.Appointment

@{
    ViewData["Title"] = "Create";
}

<head>
    <!-- Design by foolishdeveloper.com -->
    <title>Glassmorphism login Form Tutorial in html css</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="C:\Users\COLLABERA\Desktop\Capstone01\Real_Estate\wwwroot\css\site.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <!--Stylesheet-->
</head>

<body class="propertyBody">
<div class="row">
    <div class="col-md-4">
            <form class="forms" asp-action="Create">
                <h3 class="whiteText">Create Appointment</h3>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                    <label asp-for="Id" class="whiteText">ID</label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                    <label asp-for="Name" class="whiteText">Name</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                    <label asp-for="Email" class="whiteText">Email</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                    <label asp-for="Phone" class="whiteText">Phone Number</label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                    <label asp-for="Address" class="whiteText">Address</label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                    <label asp-for="DateofAppointment" class="whiteText">Date of Appointment</label>
                <input asp-for="DateofAppointment" class="form-control" />
                <span asp-validation-for="DateofAppointment" class="text-danger"></span>
            </div>
            <div class="buttonDiv">

                    <button type="submit" value="Create" class="blackText">Create</button>
                    <div>
                        <a asp-action="Index" class="whiteText">Back to List</a>
                    </div>
            </div>
        </form>
    </div>
</div>
</body>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}



